<div class="container p-0 my-4">
    <div class="row">
        <div class="col-9">
            <igac-encabezado-seccion [title]="info.title" [description]="info.description">
            </igac-encabezado-seccion>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button (click)="crearContacto()" class="btn btn-outline-secondary" type="button" style="background-color: #3366cc; color: aliceblue">
        Crear
      </button>
        </div>
    </div>
    <div class="table-simple-headblue-govco scrollTable">
        <div class="d-flex flex-row-reversebd-highlight" style="justify-content: end">
            <div class="p-2 bd-highlight" style="text-align: right">
                <select id="pageSize" class="form-control" style="border-color: #3366cc" (change)="onSelectSize($event)">
          <option *ngFor="let p of pagesSizes" [selected]="p === 5">
            {{ p }}
          </option>
        </select>
            </div>
        </div>
        <table class="w-100 table display table-responsive-sm table-responsive-md">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Propietario, poseedor u ocupante?</th>

                    <th>Tipo de documento</th>
                    <th>Número de documento</th>
                    <th>Sexo</th>
                    <th>Grupo étnico</th>
                    <th>Nombre completo/Razón social</th>
                    <th>Departamento</th>
                    <th>Municipio</th>
                    <th>Dirección de residencia</th>
                    <th>Vereda</th>
                    <th>Teléfono</th>
                    <th>Correo electrónico</th>
                    <th>Celular</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
            let item of listaInfoContact
              | paginate: { itemsPerPage: pageSize, currentPage: cp };
            let i = index
          " class="listMargin">
                    <td style="width: 13%">
                        <button type="button" class="btn-symbolic-govco" aria-label="" title="" (click)="editarContacto(item)">
              <span class="govco-icon govco-icon-edit-slim-p"></span>
            </button>
                    </td>
                    <td style="width: 12%">{{ item.proPoseeOcu }}</td>
                    <td style="width: 12%">{{ item.tipoDoc }}</td>
                    <td style="width: 12%">{{ item.numDoc }}</td>
                    <td style="width: 12%">{{ item.sexo }}</td>
                    <td style="width: 12%">{{ item.grupoEtnico }}</td>

                    <td style="width: 12%">{{ item.nomRazonSocial }}</td>
                    <td style="width: 12%">{{ item.departamento }}</td>
                    <td style="width: 12%">{{ item.municipio }}</td>
                    <td style="width: 12%">{{ item.direccion }}</td>
                    <td style="width: 12%">{{ item.vereda }}</td>
                    <td style="width: 12%">{{ item.telefono }}</td>
                    <td style="width: 12%">{{ item.correo }}</td>
                    <td style="width: 12%">{{ item.celular }}</td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: right">
            <pagination-controls previousLabel="Anterior" nextLabel="Siguente" (pageChange)="cp = $event"></pagination-controls>
        </div>
    </div>
    <div class="row rox-fix">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-2">
                    <button type="button" class="btn btn-secondary" (click)="lastPage(3)">
            Volver
          </button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary" (click)="nextPage(5)">
            Continuar
          </button>
                </div>
            </div>
        </div>
    </div>
</div>