<header>
  <div class="navbar navbar-expand navbar-govco m-0 p-0">
    <div class="container">
      <div class="navbar-logo float-left">
        <a class="" href="/">
          <img src="https://cdn.www.gov.co/assets/images/logo.png"
               height="30" width="auto" class="m-2 p-0" alt="logo-govco"/>
        </a>
      </div>
    </div>
  </div>
  <div class="navbar navbar-expand m-0 p-0">
    <div class="container">
      <div class="navbar-logo float-left">
        <img src="assets/images/ico-vivi.svg" height="50"
             width="auto" class="m-2 p-0" alt="logo-vivi"/>
      </div>
      <div class="navbar-logo float-right">
        <img src="assets/images/ico-igac.svg" height="50"
             width="auto" class="my-2 p-0" alt="logo-igac"/>
      </div>
    </div>
  </div>
</header>
