<div class="igac-file my-3" [class.invalid-file]="fileInvalid">
  <label for="{{control}}">
    <input type="file" id="{{control}}" accept="{{fileType}}"
           (change)="onFileChange($event)" (click)="onFileTouch()">
    <span class="material-icons ml-auto mr-1">attachment</span>
    <span class="mr-auto ml-1">
      {{title}}
      <span class="text-danger font-weight-bolder" *ngIf="required"> *</span>
    </span>
  </label>
  <span style="text-align: justify;">{{!fileName ? subtitle : ''}}</span>
  <span class="text-danger font-weight-bolder">{{fileName ? 'Archivo Cargado: ' + fileName : ''}}</span>
</div>
