<footer>
  <div class="container">
    <div class="footer py-4 mt-4">
      <div class="footer-container" id="footer-container">

        <!-- FOOTER COMPUTER -->
        <div class="row w-100 p-0 m-0 d-md-flex d-none">
          <div class="col-3 p-0 m-0">
            <div class="row w-100 px-0 py-3 m-0">
              <div class="col-6 col-md-12 w-100 text-left text-md-center p-0 m-0">
                <img src="https://cdn.www.gov.co/assets/images/logo.png"
                     height="30" width="auto" class="m-2 p-0" alt="logo-govco-footer"/>
              </div>
              <div class="col-6 col-md-12 w-100 text-right text-md-center p-0 m-0">
                <img src="https://www.gov.co/uploads/23c08fdb-7970-420c-a556-c3af1802ef58.svg"
                     height="30" width="auto" class="m-2 p-0" alt="logo-colombia-footer"/>
              </div>
            </div>
          </div>
          <div class="col-5 p-0 m-0 border-left border-right">
            <div class="row w-100 px-2 m-0">
              <label class="text-white w-100 py-4 m-0">
                INSTITUTO GEOGRÁFICO AGUSTÍN CODAZZI - IGAC
              </label>
            </div>
            <div class="row w-100 px-2 m-0">
              <span class="small text-white w-100 p-0 m-0">
                Bogotá - Carrera 30 Nº 48-51
              </span>
              <span class="small text-white w-100 p-0 m-0">
                Abierto al público de lunes a viernes de 7:30 a.m. a 3:45 p.m. jornada continua
              </span>
              <span class="small text-white w-100 p-0 m-0">
                Conmutador (+57) 601 3773214
              </span>
            </div>
            <div class="row w-100 px-2 py-3 m-0">
              <div class="col-12 col-md-6 w-100 p-0 m-0">
                <a class="" href="https://www.facebook.com/IgacColombia">
                  <img src="https://www.gov.co/uploads/2253a0f8-5d3e-4059-94d2-dd453ba58fe4.svg"
                       height="20" width="auto" class="mr-2 p-0" alt="logo-govco"/>
                  <span class="small text-white w-100 p-0 m-0">Facebook</span>
                </a>
              </div>
              <div class="col-12 col-md-6 w-100 p-0 m-0">
                <a class="" href="http://www.twitter.com/igacColombia">
                  <img src="https://www.gov.co/uploads/db6f60d8-de5e-4610-a832-9b943e5fbf23.svg"
                       height="20" width="auto" class="mr-2 p-0" alt="logo-govco"/>
                  <span class="small text-white w-100 p-0 m-0">Twitter</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-4 p-0 m-0">
            <div class="row w-100 p-2 m-0">
                <span class="govco-icon govco-icon-call-center-cn text-white"></span>
                <label class="text-white px-2 mt-3">Contacto</label>
            </div>
            <div class="row w-100 px-2 m-0">
              <span class="small text-white w-100 p-0 m-0">
                E-mail de contacto: contactenos@igac.gov.co
              </span>
              <span class="small text-white w-100 p-0 m-0">
                Sede Central y territorial Cundinamarca
              </span>
              <span class="small text-white w-100 p-0 m-0">
                NIT: 8999990049
              </span>
            </div>
            <!--<div class="row w-100 p-2 m-0">
              <div class="col-12 w-100 p-0 m-0">
                <a class="" href="/">
                  <span class="small text-white w-100 p-0 m-0 font-italic">
                    Mapa del sitio
                  </span>
                </a>
              </div>
              <div class="col-12 w-100 p-0 m-0">
                <a class="" href="/">
                  <span class="small text-white w-100 p-0 m-0 font-italic">
                    Políticas
                  </span>
                </a>
              </div>
            </div>-->
          </div>
        </div>

        <!-- FOOTER TABLET -->
        <div class="row w-100 p-0 m-0 d-sm-flex d-md-none d-none">
          <div class="col-12 p-0 m-0">
            <div class="row w-100 px-2 m-0">
              <label class="text-white w-100 py-4 m-0">
                INSTITUTO GEOGRÁFICO AGUSTÍN CODAZZI - IGAC
              </label>
            </div>
            <div class="row w-100 px-2 m-0">
              <span class="small text-white w-100 p-0 m-0">
                Bogotá - Carrera 30 Nº 48-51
              </span>
              <span class="small text-white w-100 p-0 m-0">
                Conmutador (+57) 601 3773214
              </span>
              <span class="small text-white w-100 p-0 m-0">
                E-mail de contacto: contactenos@igac.gov.co
              </span>
            </div>
            <div class="row w-100 px-2 py-3 m-0">
              <div class="col-12 col-md-6 w-100 p-0 m-0">
                <a class="" href="https://www.facebook.com/IgacColombia">
                  <img src="https://www.gov.co/uploads/2253a0f8-5d3e-4059-94d2-dd453ba58fe4.svg"
                       height="20" width="auto" class="mr-2 p-0" alt="logo-govco"/>
                  <span class="small text-white w-100 p-0 m-0">Facebook</span>
                </a>
              </div>
              <div class="col-12 col-md-6 w-100 p-0 m-0">
                <a class="" href="http://www.twitter.com/igacColombia">
                  <img src="https://www.gov.co/uploads/db6f60d8-de5e-4610-a832-9b943e5fbf23.svg"
                       height="20" width="auto" class="mr-2 p-0" alt="logo-govco"/>
                  <span class="small text-white w-100 p-0 m-0">Twitter</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 p-0 m-0 border-top border-bottom">
            <div class="row w-100 p-2 m-0">
              <span class="govco-icon govco-icon-call-center-cn text-white"></span>
              <label class="text-white px-2 mt-3">Contacto</label>
            </div>
            <div class="row w-100 px-2 m-0">
              <span class="small text-white w-100 p-0 m-0">
                Abierto al público de lunes a viernes de 7:30 a.m. a 3:45 p.m. jornada continua
              </span>
              <span class="small text-white w-100 p-0 m-0">
                Sede Central y territorial Cundinamarca
              </span>
              <span class="small text-white w-100 p-0 m-0">
                NIT: 8999990049
              </span>
            </div>
            <!--<div class="row w-100 p-2 m-0">
              <div class="col-12 w-100 p-0 m-0">
                <a class="" href="/">
                  <span class="small text-white w-100 p-0 m-0 font-italic">
                    Mapa del sitio
                  </span>
                </a>
              </div>
              <div class="col-12 w-100 p-0 m-0">
                <a class="" href="/">
                  <span class="small text-white w-100 p-0 m-0 font-italic">
                    Políticas
                  </span>
                </a>
              </div>
            </div>-->
          </div>
          <div class="col-12 p-0 m-0">
            <div class="row w-100 px-0 py-3 m-0">
              <div class="col-6 col-md-12 w-100 text-left text-md-center p-0 m-0">
                <img src="https://cdn.www.gov.co/assets/images/logo.png"
                     height="30" width="auto" class="m-2 p-0" alt="logo-govco-footer"/>
              </div>
              <div class="col-6 col-md-12 w-100 text-right text-md-center p-0 m-0">
                <img src="https://www.gov.co/uploads/23c08fdb-7970-420c-a556-c3af1802ef58.svg"
                     height="30" width="auto" class="m-2 p-0" alt="logo-colombia-footer"/>
              </div>
            </div>
          </div>
        </div>

        <!-- FOOTER SMARTPHONE -->
        <div class="row w-100 p-0 m-0 d-sm-none d-flex">
          <div class="col-12 p-0 m-0">
            <div class="row w-100 px-2 m-0">
              <label class="text-white w-100 py-4 m-0">
                INSTITUTO GEOGRÁFICO AGUSTÍN CODAZZI - IGAC
              </label>
            </div>
            <div class="row w-100 px-2 m-0">
              <span class="small text-white w-100 p-0 m-0">
                Bogotá - Carrera 30 Nº 48-51
              </span>
              <span class="small text-white w-100 p-0 m-0">
                Conmutador (+57) 601 3773214
              </span>
              <span class="small text-white w-100 p-0 m-0">
                E-mail de contacto: contactenos@igac.gov.co
              </span>
            </div>
            <div class="row w-100 px-2 py-3 m-0">
              <div class="col-12 col-md-6 w-100 p-0 m-0">
                <a class="" href="https://www.facebook.com/IgacColombia">
                  <img src="https://www.gov.co/uploads/2253a0f8-5d3e-4059-94d2-dd453ba58fe4.svg"
                       height="20" width="auto" class="mr-2 p-0" alt="logo-govco"/>
                  <span class="small text-white w-100 p-0 m-0">Facebook</span>
                </a>
              </div>
              <div class="col-12 col-md-6 w-100 p-0 m-0">
                <a class="" href="http://www.twitter.com/igacColombia">
                  <img src="https://www.gov.co/uploads/db6f60d8-de5e-4610-a832-9b943e5fbf23.svg"
                       height="20" width="auto" class="mr-2 p-0" alt="logo-govco"/>
                  <span class="small text-white w-100 p-0 m-0">Twitter</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 p-0 m-0">
            <div class="row w-100 p-2 m-0">
              <span class="govco-icon govco-icon-call-center-cn text-white"></span>
              <label class="text-white px-2 mt-3">Contacto</label>
            </div>
            <div class="row w-100 px-2 m-0">
              <span class="small text-white w-100 p-0 m-0">
                Abierto al público de lunes a viernes de 7:30 a.m. a 3:45 p.m. jornada continua
              </span>
              <span class="small text-white w-100 p-0 m-0">
                Sede Central y territorial Cundinamarca
              </span>
              <span class="small text-white w-100 p-0 m-0">
                NIT: 8999990049
              </span>
            </div>
            <!--<div class="row w-100 p-2 m-0">
              <div class="col-12 w-100 p-0 m-0">
                <a class="" href="/">
                  <span class="small text-white w-100 p-0 m-0 font-italic">
                    Mapa del sitio
                  </span>
                </a>
              </div>
              <div class="col-12 w-100 p-0 m-0">
                <a class="" href="/">
                  <span class="small text-white w-100 p-0 m-0 font-italic">
                    Políticas
                  </span>
                </a>
              </div>
            </div>-->
          </div>
          <div class="col-12 p-0 m-0">
            <div class="row w-100 px-0 py-3 m-0">
              <div class="col-6 col-md-12 w-100 text-left text-md-center p-0 m-0">
                <img src="https://cdn.www.gov.co/assets/images/logo.png"
                     height="30" width="auto" class="m-2 p-0" alt="logo-govco-footer"/>
              </div>
              <div class="col-6 col-md-12 w-100 text-right text-md-center p-0 m-0">
                <img src="https://www.gov.co/uploads/23c08fdb-7970-420c-a556-c3af1802ef58.svg"
                     height="30" width="auto" class="m-2 p-0" alt="logo-colombia-footer"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
