<div class="table-simple-headblue-govco">
    <div class="d-flex flex-row-reversebd-highlight" style="justify-content: end">
        <div class="p-2 bd-highlight" style="text-align: right">
            <select id="pageSize" class="form-control" style="border-color:
                    #3366CC;" (change)="onSelectSize($event)">
                    <option *ngFor="let p of pagesSizes" [selected]="p === 5">
                        {{p}}
                    </option>
                </select>
        </div>
    </div>
    <table class="w-100 table display table-responsive-sm table-responsive-md">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Folio matrícula inmobiliaria</th>
                <th>Número catastral</th>
                <th>Código NUPRE</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Dirección</th>
                <th>Destino económico</th>
                <th>Arriendo/venta</th>
                <th>Valor Arriendo o venta</th>
                <th>Valor mínimo Arriendo/venta</th>
                <th>Fecha de la oferta</th>
            </tr>
        </thead>
        <tbody *ngFor="let value of listFisicaPredio | paginate: { itemsPerPage:
            pageSize, currentPage: cp };">
            <tr class="listMargin">
                <td style="width: 10%" (click)="getAction(value)">
                    <i class="fas fa-edit" style="cursor: pointer"></i>
                </td>
                <td style="width: 12%">{{ value.folioMatricula }}</td>
                <td style="width: 12%">{{ value.numPredial }}</td>
                <td style="width: 12%">{{ value.codigoNupre }}</td>
                <td style="width: 12%">{{ value.departamento }}</td>
                <td style="width: 12%">{{ value.municipio }}</td>
                <td style="width: 12%">
                    <a (click)="showAddress(value.direcciones)" style="color: #1976d2">ver direcciones</a
          >
        </td>
        <td style="width: 12%">{{ value.destinoEconomico }}</td>
        <td style="width: 12%">{{ value.arriendoVenta }}</td>
        <td style="width: 12%">{{ value.valor }}</td>
        <td style="width: 12%">{{ value.valorMinimo }}</td>
        <td style="width: 12%">{{ value.fechaOferta }}</td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: right">
    <pagination-controls  previousLabel="Anterior" nextLabel="Siguente" (pageChange)="cp = $event"></pagination-controls>
  </div>
</div>
<div class="row rox-fix">
  <div class="container">
      <div class="row justify-content-end">
          <div class="col-2">
              <button type="button" class="btn btn-secondary" (click)="lastPage(4)">
                  Volver
              </button>
          </div>
          <div class="col-2">
              <button type="button" class="btn btn-primary"  (click)="nextPage(6)">Continuar</button>
          </div>
      </div>
  </div>
</div>