.mat-dialog-actions {
  margin-bottom: -3px !important;
  margin-right: 5px;
}

.matHeader {
  height: 54px;
}
.modal .modal-header {
  background: #1976d2;
}

.modal .modal-header button.close {
  color: #ffffff;
}

.modal .modal-header button.close:focus {
  outline: none;
}

.modal .modal-header h5 {
  color: #ffffff;
}
.modal .modal-header h5 {
  color: #ffffff;
}
.modal-dialog {
  max-width: 80% !important;
}
.btn {
  text-transform: none !important ;
}
#modalContentScroll {
  height: 550px;
  overflow-y: scroll;
  overflow-x: clip;
}

.pd {
  padding-left: 15px;
  padding-right: 15px;
}
