<div class="container p-0 my-4">
  <div class="row">
    <div class="col-9">
      <igac-encabezado-seccion [title]="info.title"
                               [description]="info.description">
      </igac-encabezado-seccion>
    </div>
  </div>

  <div class="table-simple-headblue-govco" *ngIf="existPredios">
    <table class="w-100 table display table-responsive-sm table-responsive-md">
      <thead>
        <tr>
          <th>Número Predial</th>
          <th>Avalúo</th>
          <th>Área Terreno</th>
          <th>Área Construcción</th>
          <th>Matrícula</th>
          <th>Dirección</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let predio of predios">
          <td style="width: 25%">{{predio.numPredial}}</td>
          <td style="width: 10%">{{predio.avaluo}}</td>
          <td style="width: 5%">{{predio.areaTerreno}}</td>
          <td style="width: 5%">{{predio.areaConstruccion}}</td>
          <td style="width: 10%">{{predio.matricula}}</td>
          <td style="width: 25%">{{predio.direccion}}</td>
          <td style="width: 20%">
            <button type="button" class="btn-symbolic-govco"
                    aria-label="Ver detalle" title="Ver detalle"
                    (click)="onViewDetail(predio)">
              <span class="govco-icon govco-icon-search-n"></span>
            </button>

            <button type="button" class="btn-symbolic-govco"
                    aria-label="Crear trámite" title="Crear trámite"
                    (click)="onNewProcedure(predio)">
              <span class="govco-icon govco-icon-plus-n"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
