#headInfo {
  background-color: #1976d2;
  color: white;
}
#info {
  margin: 10px 10px 10px 10px;
}
h6 {
  margin-left: 5px;
  margin-bottom: 10px;
  color: white;
}
label {
  margin-top: 8px;
  width: 400px;
}
#editDirec {
  display: inline-block;
}
p {
  margin-top: 8px;
  width: 500px;
  display: inline-block;
}
.mat-dialog-actions {
  margin-bottom: -3px !important;
  margin-right: 5px;
}

.matHeader {
  height: 54px;
}
.modal .modal-header {
  background: #1976d2;
}

.modal .modal-header button.close {
  color: #ffffff;
}

.modal .modal-header button.close:focus {
  outline: none;
}

.modal .modal-header h5 {
  color: #ffffff;
}
.modal .modal-header h5 {
  color: #ffffff;
}
.modal-dialog {
  max-width: 80% !important;
}
.btn {
  text-transform: none !important ;
}
#checkDir {
  margin-left: 10px;
  transform: scale(1.7);
}

#contDir {
  box-shadow: 1px 4px 11px 2px #888;
}
#divTrash {
  display: inline-block;
  margin-left: 10px;
  transform: scale(1.3);
  cursor: pointer;
}

#modalContentScroll {
  height: 550px;
  overflow-y: scroll;
  overflow-x: clip;
}

.closeSpand {
    color: #ffffff;
}
