<mat-dialog-content>
    <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block; padding-right:
    17px" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="modalContentScroll">
                <div class="modal-header matHeader">
                    <h5 class="modal-title" id="exampleModalLabel" mat-dialog-title>
                        Información física y económica del predio
                    </h5>
                    <button mat-button [mat-dialog-close]="true" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="table-simple-headblue-govco">
                        <div id="info">
                            <h6 class="modal-title" id="exampleModalLabel" mat-dialog-title style="color: #1976d2">
                                INFORMACIÓN FÍSICA
                            </h6>
                            <form>
                                <div class="row fixRow">
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="igac-label" for="foli">Folio matrícula
                          inmobiliaria</label>
                                            </div>
                                            <div class="col-12">
                                                <input id="foli" class="form-control igac-input" value="{{ seeInfo.folioMatricula }}" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="igac-label" for="numca">Número catastral</label>
                                            </div>
                                            <div class="col-12">
                                                <input class="form-control igac-input" id="numca" value="{{ seeInfo.numPredial }}" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="igac-label" for="conu">Código NUPRE</label>
                                            </div>
                                            <div class="col-12">
                                                <input class="form-control igac-input" id="conu" type="text" value="{{ seeInfo.codigoNupre }}" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row fixRow">
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="igac-label" for="depa">Departamento</label>
                                            </div>
                                            <div class="col-12">
                                                <select id="depa" class="form-control igac-input" type="text" disabled>
                          <option
                            value="{{ seeInfo.departamento }}"
                            selected="true">
                            {{ seeInfo.departamento }}
                          </option>
                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="igac-label" for="muni">Municipio</label>
                                            </div>
                                            <div class="col-12">
                                                <select id="muni" class="form-control igac-input" type="text" disabled>
                          <option value="{{ seeInfo.municipio }}">
                            {{ seeInfo.municipio }}
                          </option>
                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label id="vere" class="igac-label" for="vere">Vereda</label>
                                            </div>
                                            <div class="col-12">
                                                <input class="form-control igac-input" id="vere" type="text" value="{{ seeInfo.vereda }}" disabled />
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="row fixRow">
                                    <div class="container" id="contDir">
                                        <label for="">Dirección</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="form-control igac-input" [(ngModel)]="nuevaDir" name="direc" />
                                            </div>
                                            <div class="col">
                                                <button mat-button class="btn btn-primary" (click)="agregarDirec()">
                          Agregar
                        </button>
                                            </div>

                                            <div class="col">
                                                <div style="margin-bottom: 18px">
                                                    <p>Debe marcar una dirección como principal</p>
                                                    <div *ngFor="let val of seeInfo.direcciones">
                                                        <input type="text" value="{{ val }}" />
                                                        <input type="checkbox" id="checkDir" name="checkd" />
                                                        <div id="divTrash" (click)="eliminarDirec(val)">
                                                            <i class="fas fa-trash"></i>
                                                        </div>
                                                    </div>
                                                    <ng-container *ngIf="mensaje !== ''; else
                            elseTemplate">
                                                        <p style="color: red" ng>{{ mensaje }}</p>
                                                    </ng-container>
                                                    <ng-template #elseTemplate> </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <h6 class="modal-title" id="exampleModalLabel" mat-dialog-title style="color: #1976d2; margin-top: 30px">
                                INFORMACIÓN ECONÓMICA
                            </h6>
                            <form [formGroup]="infoyEcoForm">
                                <div class="row fixRow">
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="igac-label" for="destinoeco">Destino
                          económico del predio</label>
                                            </div>
                                            <div class="col-12">
                                                {{seeInfo.destinoEconomico}}
                                                <select id="destinoeco" class="form-control igac-input" type="text" formControlName="destinoEconomico">
                          <option
                            *ngFor="let des of listaDestinoEco"
                            [value]="des.text"
                            [selected]="des.text == seeInfo.destinoEconomico">
                            {{ des.text }}
                          </option>
                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="igac-label" for="valor">¿Cuál es el valor
                          del arriendo o venta?
                        </label>
                                            </div>
                                            <div class="col-12">

                                                <input class="form-control igac-input" id="arr" type="number" value="{{ seeInfo.valor }}" formControlName="valor" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="igac-label" for="arr">¿Arriendo o venta?</label>
                                            </div>
                                            <div class="col-12">
                                                <input class="form-control igac-input" id="arr" type="text" value="{{ seeInfo.arriendoVenta }}" formControlName="arriendoVenta" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row fixRow">
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="igac-label" for="minpre">¿Cuál es el valor
                          mínimo de venta <br />o arriendo de
                          su predio?
                        </label>
                                            </div>
                                            <div class="col-12">
                                                <input id="minpre" class="form-control igac-input" type="number" value="{{ seeInfo.valorMinimo }}" formControlName="valorMinimo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <br />
                                                <label class="igac-label" for="muni">Fecha de la oferta
                        </label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" style="transform: scale(1.1);
                          margin-top: 5px" value="{{ seeInfo.fechaOferta }}" disabled formControlName="fechaOferta" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <h6 style="color: red;"> {{mensajeError}}</h6>
                        </div>
                    </div>
                </div>
                <mat-dialog-actions class="modal-footer">
                    <button mat-button class="btn btn-primary" (click)="guardar()">
            Guardar
          </button>
                </mat-dialog-actions>
            </div>
        </div>
    </div>
</mat-dialog-content>