<div class="container-fluid bg-light">
    <div class="container">
        <div class="row fixRow">
            <div class="col-12">

                <div class="alert alert-info" role="alert">
                    <h2 class="section-title headline-l-govco">Adjuntar Documentos
                    </h2>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inputPrix4" class="mb-2 texto-histori"><span class="campoObligatorio2">*</span> Escritura pública, sentencia o acto administrativo</label>
                <app-upload-file (guardar)="guardarArchivo($event, 'epsaa')" (eliminar)="eliminarArchivo('epsaa')" [requerido]="true" [extensiones]="extComunes"></app-upload-file>
            </div>
            <div class="form-group col-md-12">
                <label for="inputPrix4" class="mb-2 texto-histori"> Folio de matrícula inmobiliaria</label>
                <app-upload-file (guardar)="guardarArchivo($event, 'fmi')" (eliminar)="eliminarArchivo('fmi')" [requerido]="false" [extensiones]="extComunes"></app-upload-file>
            </div>

            <div class="form-group col-md-12">
                <label for="inputPrix4" class="mb-2 texto-histori"> Documento privado que compruebe la relación de tenencia del predio</label>
                <app-upload-file (guardar)="guardarArchivo($event, 'dpcrtp')" (eliminar)="eliminarArchivo('dpcrtp')" [requerido]="false" [extensiones]="extShape"></app-upload-file>
            </div>

            <div class="form-group col-md-12">
                <label for="inputPrix4" class="mb-2 texto-histori">Planos o levantamiento topográfico</label>
                <app-upload-file (guardar)="guardarArchivo($event, 'plt')" (eliminar)="eliminarArchivo('plt')" [requerido]="false" [extensiones]="extShape"></app-upload-file>
            </div>


            <div class="form-group col-md-12">
                <label for="inputPrix4" class="mb-2 texto-histori"><span class="campoObligatorio2">*</span> Plano que obra en el proceso</label>
                <app-upload-file (guardar)="guardarArchivo($event, 'pop')" (eliminar)="eliminarArchivo('pop')" [requerido]="false" [extensiones]="extShape"></app-upload-file>
            </div>

            <div class="form-group col-md-12">
                <label for="inputPrix4" class="mb-2 texto-histori">Recibo de pago del impuesto predial</label>
                <app-upload-file (guardar)="guardarArchivo($event, 'rpip')" (eliminar)="eliminarArchivo('rpip')" [requerido]="false" [extensiones]="extComunes"></app-upload-file>
            </div>

            <div class="form-group col-md-12">
                <label for="inputPrix4" class="mb-2 texto-histori"><span class="campoObligatorio2">*</span> Documento de identidad del presentante legal
                    </label>
                <app-upload-file (guardar)="guardarArchivo($event, 'dipl')" (eliminar)="eliminarArchivo('dipl')" [requerido]="true" [extensiones]="extComunes"></app-upload-file>
            </div>

            <div class="form-group col-md-12">
                <label for="inputPrix4" class="mb-2 texto-histori"><span class="campoObligatorio2">*</span>Certificado de existencia y representación legal expedido por la autoridad competente no mayor a 30 días de expedición
                    </label>
                <app-upload-file (guardar)="guardarArchivo($event, 'cerle')" (eliminar)="eliminarArchivo('cerle')" [requerido]="true" [extensiones]="extComunes"></app-upload-file>
            </div>


        </div>
        <div class="row rox-fix">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="button" class="btn btn-secondary" (click)="lastPage(7)">
                            Volver
                        </button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" (click)="nextPage(7)">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>