<div  class="lista" id="tramites-servicios">
    <div class="row tys-element no-gutters">
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
            <h3 class="title"><a href="/ficha-tramites-y-servicios/T1025">Registro sanitario o renovación de medicamentos importados incluidos en normas farmacológicas colombianas</a></h3>
            <span class="entity">Entidad: INSTITUTO NACIONAL DE VIGILANCIA DE MEDICAMENTOS Y ALIMENTOS</span>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3"><div class="info channel"><!----><span class="online">
            <span class="govco-icon govco-icon-check-cn"></span>Trámite en línea</span><!----><!----></div>
            <div class="info cost"><!----><span class="price"><span class="govco-icon govco-icon-peso-col-cn"></span>Trámite con costo</span><!----><!----></div>
            <!----><div class="info time"><span _ngcontent-jmd-c23=""><span class="govco-icon govco-icon-clock"></span>Duración: 3 MES(ES)  aprox.</span>
            </div><!---->
        </div>
    </div>
</div>
