<div class="container p-0 my-4">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <p>En esta tabla el sistema carga aquellos reportes de autodeclarativo realizados por la persona logueada en el sistema VIVI.
                </p>

                <b><p>ESTADOS:</p></b>

                <p>&nbsp;&nbsp;&nbsp;&nbsp;En curso: Carga primero los registros en proceso, es decir los que no se han radicado
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Finalizado: Luego carga aquellos registros que han sido finalizados y tienen un número de radicado.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <igac-encabezado-seccion [title]="info.title" [description]="info.description">
            </igac-encabezado-seccion>
        </div>
        <div class="col-3">
            <nav class="navbar navbar-expand p-0 m-0">
                <ul class="navbar-nav w-100">
                    <li class="nav-item active" routerLinkActive="active">
                        <a class="nav-link p-2 font-weight-bold text-center" (click)="onIniciarTramiteNuevo()">Nuevo registro método autodeclarativo</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <div class="table-simple-headblue-govco">
        <table class="w-100 table display table-responsive-sm table-responsive-md">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Folio de matrícula inmobiliaria</th>
                    <th>Número predial</th>
                    <th>Departamento</th>
                    <th>Municipio</th>
                    <th>Número método autodeclarativo</th>
                    <th>Número de radicado autodeclarativo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 13%">
                        <button type="button" class="btn-symbolic-govco" aria-label="" title="">
              <span class="govco-icon govco-icon-edit-slim-p"></span>
            </button>
                    </td>
                    <td style="width: 13%">2</td>
                    <td style="width: 13%">3</td>
                    <td style="width: 13%">4</td>
                    <td style="width: 13%">5</td>
                    <td style="width: 13%">6</td>
                    <td style="width: 13%">7</td>
                    <td style="width: 13%">
                        <a href="tramites" class="btn-gris">
                            <br>En curso
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 13%">
                        <button type="button" class="btn-symbolic-govco" aria-label="" title="">
                  <span class="govco-icon govco-icon-edit-slim-p"></span>
                </button>
                    </td>
                    <td style="width: 13%">2</td>
                    <td style="width: 13%">3</td>
                    <td style="width: 13%">4</td>
                    <td style="width: 13%">5</td>
                    <td style="width: 13%">6</td>
                    <td style="width: 13%">7</td>
                    <td style="width: 13%">
                        <a href="tramites" class="btn-gris">
                            <br>Finalizado
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>